*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
    font-family: 'Berlin Sans FB', Arial, sans-serif;
}
center{
 font-family: 'Times New Roman', sans-serif;
}

header{
        background: linear-gradient(to bottom, #f3ab33 0%, #ffff 100%);
	display: flex;
	height: 10vh;
	align-items: center;
	/*margin-left: 73px;
	margin-right: 73px;*/
	padding-left: 73px;
	padding-right: 73px;
}

.logo-container, .nav-links, .head-items{
	display: flex;
}

.logo-container{
	flex: 1;
	justify-content: center;
}

.logo{
	text-decoration: none;
	font-family: 'Satisfy', sans-serif;
	font-weight: 600;
	font-size: 40px;
	color: black;
}

nav{
	flex: 3;
}

.nav-links{
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 20px;
}

.nav-link:hover{
	color: #a8d6e6;
}

/*.head-items{
	flex: 1;
	justify-content: flex-end;
}*/

.head-button{
	background-color: #2073d4;
	border: none;
	color: white;
	padding: 7px 32px;
	text-decoration: none;
	font-weight: 700;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 20px;
}

.burger{
	display: none;
}


.burger div{
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
	transition: all 0.3s ease;
}
@keyframes drop{
	0%{
		opacity: 0;
		transform: translateY(-80px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
@media screen and (max-width: 1130px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		display: flex;
		position: absolute;
		right: 0px;
		top: 8vh;
		flex-direction: column;
		align-items: center;
		background-color: lightblue;
		height: 92vh;
		width: 25%;
		z-index: 1;
		transform: translateX(100%);
		transition: transform 0.5s;
	}
	.nav-link, .head-button{
		opacity: 0;
	}
	.burger{
		display: block;
		cursor: pointer;
	}

}

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(100px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}

/*
@media screen and (max-width: 480px){
	header{
		margin-left: 30px;
		margin-right: 30px;
		display: inline-flex;
	}
	.head-items{
		margin-left: 40px;
	}
}

/*@media screen and (max-width: 768px){
	.nav-links{
		position: absolute;
		right: 0px;
		height
	}
}*/
.course-categories{
  display: block;
  width: 100%;
  max-width: 2144px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 38.4px;
  padding-left: 38.4px;
  font-family: 'Berlin Sans FB', Arial, sans-serif;
  font-size: 25.6px;
  line-height: 1.4;
  font-weight: 400;
}

.course-categories-title{
  margin-top: 0;
  margin-bottom: 25.6px;
  font-family: 'Berlin Sans FB', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.32px;
  font-size: 38.4px;
  max-width: 960px;
  display: block;
}

@media screen and (min-width: 700.96px){
  .course-tags{
    margin-right: -25.6px;
  }
}

.course-tags{
  display: inline-flex;
  flex-wrap: wrap;
  font-family: 'Berlin Sans FB', Arial, sans-serif;
  font-size: 25.6px;
  line-height: 1.4;
  font-weight: 400;
}

.tag-wrapper{
  border: 1px solid #dcdacb;
  border-radius: 4px;
  display: block;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  margin-right: 35px;
  margin-bottom: 25.6px;
}

.tag-link{
  position:absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.tag-card{
  min-height: 121.6px;
  padding: 25.6px;
  display: block;
}

.tag-card-name{
  font-family: 'Berlin Sans FB', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.32px;
  text-decoration: none;
  color:black;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  padding-right: 170px;
  padding-left: 170px;
  padding-top: 20px;
  padding-bottom: 200px;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
